.messageBoxOne {
  background: #F3F3F3;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  box-sizing: border-box;
  display: inline-block;
}

.messageTextOne {
  font-family: Helvetica;
  width: 100%;
  font-size: 12px;
  color: #353535;
  letter-spacing: 0;
  float: left;
}

.messageBoxTwo {
  background: #2979FF;
  border-radius: 20px;
  padding: 5px 20px;
  color: white;
  box-sizing: border-box;
  display: inline-block;
}

.messageTextTwo {
  font-family: Helvetica;
  width: 100%;
  font-size: 12px;
  color: white;
  letter-spacing: 0;
  float: left;
}

.timeMessage {
  font-family: Helvetica;
  font-size: 10px;
  color: #828282;
  letter-spacing: 0.3px;
}

.messageContainerTwo {
  display: flex;
  justify-content: flex-end;
  margin-top: 3px;
}

.messageContainerOne {
  display: flex;
  justify-content: flex-start;
  margin-top: 3px;
}