.message {
  background-color: #0078FF;
  padding: 10px;
  color: white;
  border-radius: 20px;
  width: 100%;
  margin: 5px 0;
  box-sizing: border-box;
}

.message:nth-child(even) {
  background-color: #00C6FF;
}