.joinOuterContainer {
  display: flex;
  justify-content: center;
  text-align: center;
  height: 100vh;
  align-items: center;
  background-color: #121212;
}

.joinInnerContainer {
  width: 30%;
}

.joinInput {
  border-radius: 0;
  padding: 10px;
  width: 100%;
}

.heading {
  color: white;
}

.button {
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #2979FF;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    width: 100%;
}

.mt-20 {
  margin-top: 20px;
}

@media (min-width: 320px) and (max-width: 480px) {
  .joinInnerContainer {
    width: 90%;
  }
}