html, body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #121212;
}

.container {
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
  border-radius: 8px 8px 0 0;
  display: flex;
  height: 60%;
  width: 35%;
  flex-direction: column;
  justify-content: space-between
}

.messages {
  margin: 5%;
  flex: auto;
}