html, body {
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.outerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #1A1A1D;
}

.container {
  background: #FFFFFF;
  box-shadow: 0 0 20px 0 rgba(0,0,0,0.10);
  border-radius: 8px 8px 0 0;
  display: flex;
  height: 60%;
  width: 35%;
  flex-direction: column;
  justify-content: space-between
}

.textContainer {
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  color: white;
  height: 60%;
}

.messages {
  padding: 5% 0;
  overflow: auto;
  flex: auto;
}

@media (min-width: 320px) and (max-width: 480px) {
  .container {
    width: 100%;
    height: 100%;
  }
}